---
layout: default
---

<div class="container">
<div class="row">
  <div class="col-9-md">
    <p>
      We are a group of researchers based in Prague interested in programming languages and systems
      from the <a href="https://prl-prg.github.io/">Programming Research Laboratory</a> at the
      Czech Technical University and the <a href="https://d3s.mff.cuni.cz/plas">Programming Langauges
      and Systems Group</a> at the Faculty of Mathematics and Physics, Charles University. We meet regularly, organise joint events
      and promote programming languages and systems research, projects and courses in Prague.
    </p>
    <p>
      If you are interested in joining our network, drop us an email or come to any of the events
      listed below!
    </p>
  </div>
</div><div class="row">
  <div class="col-9-md">
    <h2>Regular Events</h2>
    <p>We run a number of events at both Czech Technical University and Charles University where we can meet
      and talk about programming languages and systems. To make talking to each other easier, our reading group
      alternates between the two locations!</p>
  </div>
</div><div class="row events">
  <div class="col-6-md">
    <h3>Reading Group</h3>
    <i class="las la-file-alt"></i>
    <ul class="condensed">
      <li><strong>Wednesdays 10:00, Malá Strana or Dejvice</strong></li>
      <li><a href="https://github.com/prgprg-org/reading-group">List of past and upcoming meetings</a></li>
    </ul>
    <p>
      Regular reading group where we discuss papers of interest to the group.
      Topics range from essential PL reading to recent papers of interest.
      All students are welcome to join and suggest papers!</p>
  </div>
  <div class="col-6-md">
    <h3>Group Lunch at MFF</h3>
    <i class="las la-pizza-slice"></i>
    <ul class="condensed">
      <li><strong>Mondays 13:00, Café HAMU, Malá Strana</strong></li>
      <li>Come and loook for us or email Tomas to check</li>
    </ul>
    <p>
      We meet at 12:00 in front of S204 to talk about current research ideas, open
      problems and whatever interests us and then have lunch together at
      the nearby <a href="https://www.hamu.cz/en/about-hamu/university-cafe/">Café HAMU</a> around 13:00.</p>
  </div>
</div><div class="row events">
  <div class="col-6-md">
    <h3>#lang-talk meetups</h3>
    <i class="las la-chalkboard-teacher"></i>
    <ul class="condensed">
      <li><strong>Irregularly, afternoons at FIT, Dejvice</strong></li>
      <li><a href="https://github.com/lang-talk/meetups">Upcoming events, recordings and mailing list</a></li>
    </ul>
    <p>
      Small student-organized community of PL enthusiasts. Meets for member talks, discussions and
      invited guest talks. Also check out recordings and a list of useful resources!</p>
  </div>
</div>
</div>
<div class="signup-wrapper"><div class="container"><div class="row">
  <div class="col-9-md signup">
    <h2>Receive email updates!</h2>
    <p>Sign up here to receive updates about reading group meetings, other interesting events in Prague, new courses and opportunities and occassional other PRG &#x2022; PRG news.</p>
    <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSeqF4rBl1Xp-Pf7IALIP9NVWCA5p428UqA7AhkkrkDRT0o-Jw/formResponse" method="POST">
      <input type="email" placeholder="ada@lovelace.com" name="entry.1560051747" id="entry.1560051747">
      <button type="submit">Subscribe now!</button>
    </form>
  </div>
</div></div></div>
<div class="container">
<div class="row">
  <div class="col-9-md">
    <h2>Work with Us!</h2>
    <p>We have a range of projects and thesis topics for students at both CTU and MFF.
      We also often have funding for PhD students and post-doctoral researchers, or can help you with various applications.
      If you want to move to Prague permanently, we can also give you various tips!
    </p>
  </div>
  <div class="col-12-sm">
    <ul class="condensed">
      <li><strong><a href="https://d3s.mff.cuni.cz/students/topics/">Topics for student projects and theses</a></strong> at <strong>D3S, MFF</strong></li>
      <li><strong><a href="https://prl-prg.github.io/student-projects.html">Student project & PhD research ideas</a></strong> at <strong>PRL, CTU</strong></li>
      <li><strong><a href="https://d3s.mff.cuni.cz/phd/">PhD opportunities and application guidelines</a></strong> at <strong>D3S, MFF</strong></li>
    </ul>
  </div>
</div><div class="row">
  <div class="col-9-md">
    <h2>Courses We Teach</h2>
    <p>This is an incomplete list of courses related to programming langauges and systems in Prague that we and our colleagues teach.
      If you are missing a great course, send us a <a href="https://github.com/prgprg-org/prgprg-org.github.io">pull request on GitHub</a>.
    </p>
    <p>You are welcome to join courses at "the other place", but it is a good idea to drop the lecturer an email about practical details.
      In the future, we hope to collaborate more closely so that you can (easily) get credits for external courses too.
    </p>
    <h3>Winter Semester 2024/25</h3>
    <ul>
      {% for it in site.data.courses %}
      {% if it.current %}
      <li><p><strong><a href="{{ it.link }}">{{ it.title }}</a> - {{ it.lecturer }}</strong> ({{ it.schedule }})</p>
        {{ it.label | markdownify }}</li>
      {% endif %}
      {% endfor %}
    </ul>
    <h3>Summer and Future Courses</h3>
    <ul>
      {% for it in site.data.courses %}
      {% unless it.current %}
      <li><p><strong><a href="{{ it.link }}">{{ it.title }}</a> - {{ it.lecturer }}</strong> ({{ it.schedule }})</p>
        {{ it.label | markdownify }}</li>
      {% endunless %}
      {% endfor %}
    </ul>
  </div>
</div><div class="row">
  <div class="col-9-md">
    <h2>Organizers and Supporters</h2>
    <p>Are you working on programming languages in Prague and want to join us? Feel free to drop us an email or add yourself and other information by
      editing <a href="https://github.com/prgprg-org/prgprg-org.github.io">this page on GitHub</a>!
    </p>
  </div>
</div><div class="row people">
  {% for it in site.data.members %}
  <div class="col-6-lg col-9-md">
    <img src="{{ it.photo }}" />
    <div class="info">
      <h3>{{ it.name }}</h3>
      <p><strong>{{ it.position }}</strong></p>
      <p><a href="mailto:{{ it.email }}">{{ it.email }}</a></p>
      <p><a href="{{ it.web }}">{{ it.web }}</a></p>
      <p>{{ it.interests }}</p>
    </div>
  </div>
  {% assign mod = forloop.index | modulo: 2 %}
  {% if mod == 0 %}
      </div><div class="row people">
  {% endif %}
  {% endfor %}
</div>
</div>
